.navbar .label {
  font-size: 10px;
  margin-left: 5px;
  vertical-align: 4px;
}

.navbar-inverse .label-primary {
  background: #ffffff;
  color: #109C85;
}

.hero {
  .jumbotron * {
    color: #fff;

    small {
      opacity: 0.25;
    }
  }
}

.tos li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  border-top: 1px solid #d3e0e9;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;

  .footer-item {
    padding-right: 10px;
    font-size: 12px;
  }

  .footer-item.copyright {
    color: #949ba3;
  }
}